@keyframes divDisappear {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
@keyframes divAppear {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
/* The element to apply the animation to */
.divDisappear {
  animation-name: divDisappear;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards; }

.divAppear {
  animation-name: divAppear;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards; }

body {
  font-family: 'Ranga';
  background-color: #bb1000;
  color: white; }

h1 {
  font-family: 'Lobster';
  font-size: 70px;
  vertical-align: middle;
  background-color: white;
  color: #bb1000;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

p {
  padding: 10px;
  color: white; }

video {
  width: 100%;
  position: fixed;
  z-index: -99;
  left: 0; }

div.row footer {
  bottom: 10px;
  background-color: white;
  color: red;
  position: relative; }

.container {
  width: 100%;
  margin-bottom: 20%; }

.row {
  margin: 0; }

.containerUnderSecondaryTitle {
  height: 100%;
  margin: 0; }

.iconsLeft, .containerUnderSecondaryTitle, .iconsRight {
  display: inline-block; }

.iconVideo {
  margin-top: 10%; }

#Videos {
  z-index: -100;
  position: absolute; }

#Calendar {
  z-index: -100;
  position: absolute; }

#Pictures {
  z-index: -100;
  position: absolute;
  width: 100%; }

#Contact {
  z-index: -100;
  position: absolute; }

#Welcome {
  text-align: center;
  position: absolute; }

#ISLogo {
  font-size: 140px;
  background-color: transparent;
  width: 50%;
  color: white;
  border: solid;
  border-radius: 300px;
  border-width: 2px; }

.iconsLowerRow {
  margin-top: 10%; }

.glyphicon {
  font-size: 80px; }

@media (min-width: 600px) and (max-width: 899px) {
  .glyphicon-tablet-portrait {
    font-size: 40px; } }

@media (min-width: 400px) and (max-width: 599px) {
  .glyphicon-phone-only {
    font-size: 20px; } }
@media (max-width: 400px) {
  .glyphicon-phone-only {
    font-size: 20px; } }

.mainContent {
  margin-bottom: 1%; }

#secondaryTitle {
  margin-top: 1%;
  font-size: 24px; }

#pics {
  border-radius: 10px; }

@media (max-width: 400px) {
  .phone-up {
    background: green; } }

@media (min-width: 400px) and (max-width: 599px) {
  .phone-only {
    background: yellow; } }

@media (max-width: 400px) {
  .mainTitle-phone-only-font {
    font-size: 30px; } }
@media (min-width: 400px) and (max-width: 599px) {
  .mainTitle-phone-only-font {
    font-size: 35px; } }

@media (min-width: 600px) and (max-width: 899px) {
  .tablet-portait-only {
    background: green; } }

@media (min-width: 600px) {
  .tablet-portrait-up {
    background: purple; } }

@media (min-width: 900px) and (max-width: 1199px) {
  .tablet-landscape-only {
    background: purple; } }

@media (max-width: 400px) {
  .secondaryTitle-phone-size {
    font-size: 18px; } }

@media (min-width: 400px) and (max-width: 599px) {
  .for-phone-only-dynamic-title {
    font-size: 18px; } }

@media (min-width: 900px) and (max-width: 1199px) {
  .img-tablet-landscape-only {
    max-width: 90%;
    max-height: 400px; } }

@media (min-width: 900px) {
  .img-tablet-landscape-up {
    max-width: 90%;
    max-height: 400px; } }

@media (min-width: 600px) and (max-width: 899px) {
  .img-tablet-portrait-only {
    max-width: 90%;
    max-height: 300px; } }

@media (min-width: 600px) {
  .img-tablet-portrait-up {
    max-width: 90%;
    max-height: 300px; } }

@media (max-width: 400px) {
  .img-phone-up {
    max-width: 90%;
    max-height: 200px; } }

@media (min-width: 400px) and (max-width: 599px) {
  .img-phone-only {
    max-width: 90%;
    max-height: 200px; } }

@media (min-width: 400px) and (max-width: 599px) {
  .dynamic-title-text-sizes {
    font-size: 18px; } }
@media (max-width: 400px) {
  .dynamic-title-text-sizes {
    font-size: 18px; } }
@media (min-width: 600px) {
  .dynamic-title-text-sizes {
    font-size: 20px; } }
@media (min-width: 600px) and (max-width: 899px) {
  .dynamic-title-text-sizes {
    font-size: 20px; } }
@media (min-width: 900px) {
  .dynamic-title-text-sizes {
    font-size: 24px; } }
@media (min-width: 900px) and (max-width: 1199px) {
  .dynamic-title-text-sizes {
    font-size: 24px; } }

@media (min-width: 900px) {
  .tablet-landscape-up {
    background: purple; } }

@media (min-width: 1200px) and (max-width: 1799px) {
  .desktop-only {
    background: purple; } }

@media (min-width: 1200px) {
  .desktop-up {
    background: purple; } }

@media (min-width: 1800px) {
  .big-desktop-up {
    background: purple; } }

/*# sourceMappingURL=index.css.map */
